<h3>How To</h3>

<h5 class="mt-3">Create</h5>
<code>
    create table languages (primary key uid, name, num_of_jobs, avg_salary);
</code>

<h5 class="mt-3">Describe</h5>
<code>
    describe languages;
</code>

<h5 class="mt-3">Insert</h5>
<code>
    insert into languages set uid=11, name='Kotlin', num_of_jobs=1560, avg_salary=54000; <br/>
</code>

<h5 class="mt-3">Select</h5>
<code>
    select 1; <br/>
    select (2+3) * (10-8) / 2; <br/>
    <br/>
    select uid, name, num_of_jobs, avg_salary from languages; <br/>
    select uid, num_of_jobs, avg_salary from languages where name='Python'; <br/>
    select name, avg_salary from languages order by avg_salary desc limit 3; <br/>
</code>

