<h2>How To</h2>

<h4 class="mt-3">Create</h4>
<code>
    create table users (primary key uid, first_name, last_name, salary);
</code>

<h4 class="mt-3">Describe</h4>
<code>
    describe users;
</code>

<h4 class="mt-3">Insert</h4>
<code>
    insert into users set uid=1, first_name='Alex', last_name='Gor', salary=1000; <br/>
    insert into users set uid=2, first_name='Bob', last_name='Ford', salary=200; <br/>
    insert into users set uid=3, first_name='Alex', last_name='Smith', salary=3000; <br/>
</code>

<h4 class="mt-3">Select</h4>
<code>
    select 1; <br/>
    select (2+3) * (10-8) / 2; <br/>
    select uid, first_name, last_name from users; <br/>
    select uid, first_name from users where uid=1; <br/>
    select uid, first_name, salary from users where first_name='Alex', salary=1000; <br/>
    select uid, last_name, salary from users order by salary desc limit 2; <br/>
</code>

